<nav class="navbar is-fixed-top">
	<div class="navbar-brand">
		<a class="navbar-item" href="./">
			<img src="ROOT/images/full-logo.png" alt="<%- site_title %>" width="112" height="28">
		</a>
		<div class="navbar-burger burger" data-target="navbarMenu">
			<span></span>
			<span></span>
			<span></span>
		</div>
	</div>
	<div id="navbarMenu" class="navbar-menu">
		<div class="navbar-start">
			<% for (var item in navbar) { %>
				<% if (navbar[item].type == 'category') { %>
					<div class="navbar-item has-dropdown is-hoverable">
						<a class="navbar-link">
							<%- navbar[item].title %>
						</a>
						<div class="navbar-dropdown is-boxed">
							<% for (var containedIndex in navbar[item]['contains']) { %>
								<% var containedItem = navbar[item]['contains'][containedIndex]; %>
								<a class="navbar-item" href="<%- ( containedItem.external ? containedItem.goto : (containedItem.goto ? './' + containedItem.goto + '.html' : './')) %>">
									<%- containedItem.title %>
								</a>
							<% } %>
						</div>
					</div>
				<% } else if (navbar[item].type == 'link') { %>
					<a class="navbar-item" href="<%- (navbar[item].external ? navbar[item].goto : (navbar[item].goto ? './' + navbar[item].goto + '.html' : './')) %>">
						<%- navbar[item].title %>
					</a>
				<% } %>
			<% } %>
		</div>
		<div class="navbar-end">
			<div class="navbar-item has-dropdown is-hoverable">
				<a class="navbar-link">
				Language
				</a>
				<div class="navbar-dropdown">
					<a class="navbar-item" href="ROOT/">
						English
					</a>
				</div>
			</div>
		</div>
	</div>
</nav>