<!doctype html>
<html lang="LANGUAGE_REPLACE" class="has-navbar-fixed-top">

<% page_title = content.default.title %>
<% title = site_title + " - " + page_title; %>
<%- include partials/head %>

<body>
	<%- include partials/navbar %>
		<section class="hero is-info is-medium is-garlic">
			<div class="hero-body smaller-hero-body">
				<div class="container">
					<h1 class="title is-1">
						<span class="icon btn-icon hidden" id="back-btn"><i class="fas fa-chevron-left"></i></span>
						<span id="hero-title">
							<%= page_title %>
						</span>
					</h1>
					<% for (var key in content) { %>
						<% if (!content.hasOwnProperty(key) || key == "default") continue; %>
						<div class="content-page <%- (content.default.value != key ? 'hidden' : 'default' ) %>"  id="<%- key %>-page" <%- (content.default.value != key ? '' : 'data-title="' + content.default.title + '"' ) %> >
							<div class="columns">
								<% var loopCounter = 0; %>
								<% for (var cardKey in content[key] ) { %>
									<% loopCounter += 1; %>
									<% if (!content[key].hasOwnProperty(cardKey) || cardKey == "default") continue; %>
									<% var card = content[key][cardKey]; %>
									<% var cardId = cardKey.toLowerCase(); %>
									<% if (loopCounter % 3 == 1 && loopCounter != 1) { %>
										</div>
										<div class="columns">
									<% } %>
									<div class="column is-one-third">
										<div class="card start-box" id="<%- cardId %>" <%- (card.type == 'category' ? 'data-category="' + cardId + '"' : '') %> <%- (card.type == 'link' ? 'data-link="' + (card.goto ? card.goto + '"' : './' + cardId + '.html"') : '') %> <%- 'data-title="' + card.title + '"' %> >
											<div class="card-content">
												<span class="icon is-info">
													<i class="<%- card.icon %> fa-4x" id="<%- cardId %>-icon" %> ></i>
												</span>
												<h1 class="subtitle <%- (card.title && card.title.length > 20) ? 'is-4' : 'is-3' %>"><%- card.title %></h1>
												<p><%- card.description %></p>
											</div>
										</div>
									</div>
								<% } %>
							</div>
						</div>
					<% } %>
				</div>
			</div>
		</section>
	<%- include partials/footer %>
  <script src="ROOT/js/script.min.js"></script>
</body>

</html>